DATABASE_URL=dburlformat # A url do seu banco de dados
SYNC_TOKEN=synctoken # O token de sincronização do apps scripts do sheets
LINK_PROXY=proxy.com # O link do appscript que vai ser usada como proxy